.home {
  padding: 50px 0;

  .home-title,
  .search-history,
  .map-auto-complete {
    padding: 0 50px;
  }

  .home-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 700;
  }

  .divider-line {
    margin: 30px 0;
  }

  .search-history {
    margin-bottom: 40px;

    .history-title {
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .history-list__title {
      text-transform: uppercase;
    }

    .history-list {
      &.list--keywords {
        margin-bottom: 20px;
      }

      p {
        margin-top: 5px;
      }
    }

    .clear-history-btn {
      margin-top: 20px;
    }
  }

  .map-auto-complete {
    display: block;
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;

    .loading-text {
      margin-bottom: 10px;
    }
  }
}
